#road {
    background: url(yol.png) no-repeat center;
    background-size:contain;
    height: 800px;
    width: 800px;
    display: grid;
    place-items: center;

}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;

}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2em;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 20px;
}

#obstacle1 {
    display: grid;
    place-items: center;
    position: absolute;
    left: 421px;
    top: 0px;
    z-index: 1001;
    animation: enemy1 infinite linear 1.5s;  
}




#obstacle2 {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100px;
    left: 490px;
    top: 0px;
    z-index: 1001;
    animation: enemy2 infinite linear 2s;  
}

#obstacle3 {
    display: grid;
    place-items: center;
    position: absolute;
    left: 260px;
    top: 0px;
    z-index: 1001;
    animation: enemy3 infinite linear 2.5s;  
}

#obstacle4 {
    display: grid;
    place-items: center;
    position: absolute;
    left: 338px;
    top: 0px;
    z-index: 1001;
    animation: enemy4 infinite linear 3s;  
}

#obstacle5 {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100px;
    left: 173px;
    top: 0px;
    z-index: 1001;
    animation: enemy5 infinite linear 3.5s;  
}

#obstacle6 {
    display: grid;
    place-items: center;
    position: absolute;
    left: 570px;
    top: 0px;
    z-index: 1001;
    animation: enemy6 infinite linear 4s;  
}

#element {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 90px;
}
